body {
  background-color: #EEEEEE;
  align-content: center;
text-align:center;
}

h1 {
  color: #123f36;
  margin-left: 40px;
}
hr{
    color: blueviolet;
}

p{
    background-color: blueviolet;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 5 / span 5;
    background-color: #3E0F8D;
    color: #EEEEEE;
}

.div2 {
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    background-color:#3E0F8D;
    color: #EEEEEE;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 90%;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 2;
}

li a{
  color: #EEEEEE;
}
.meals{
  display: none;
}

.meals.active{
  display: block;  
}